@model IEnumerable<E_Commerce_MVC.ViewModels.CartItem>
@{
    ViewData["Title"] = "Checkout";
    Layout = "_Layout";

}

<section class="mt-0 vh-lg-100 vh-100" style="overflow-y: auto;">
    <!-- Page Content Goes Here -->
    <div class="container">
        <form asp-action="Checkout" asp-controller="Cart">
            <div class="row g-0 vh-lg-100">

                <div class="col-12 col-lg-7 pt-5 pt-lg-10">
                    <div class="pe-lg-5">
                        <!-- Logo-->
                        <a asp-action="Index" asp-controller="Home" class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0">
                            <div class="d-flex align-items-center">
                                <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd" /></svg>
                            </div>
                        </a>
                        <!-- / Logo-->
                        <nav class="d-none d-md-block">
                            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                                <li class="me-4">
                                    <a class="nav-link-checkout"
                                       asp-controller="Cart">Your Cart</a>
                                </li>
                                <li class="me-4">
                                    <a class="nav-link-checkout active"
                                       asp-action="Checkout" asp-controller="Cart">Information</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="mt-5">
                            <div class="pt-4 mt-4 pb-5 border-top d-flex justify-content-between align-items-center">
                                <!-- Shipping Same Checkbox-->
                                <div class="form-group form-check m-0">
                                    <input type="checkbox" class="form-check-input" id="same-address" checked>
                                    <label class="form-check-label" for="same-address">Use related information?</label>
                                </div>
                            </div>
                            <!-- Billing Address-->
                            <div class="billing-address d-none">
                                <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Billing Address</h3>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="addressAddress" class="form-label">Fullname</label>
                                            <input type="text" class="form-control" id="addressAddress" name="FullName" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="countryAddress" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="addressAddress" name="Address" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="countryAddress" class="form-label">Phone number</label>
                                            <input type="text" class="form-control" id="addressAddress" name="Phone" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="Note" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Note"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Billing Address-->
                            <!-- Checkout Panel Information-->
                            <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Shipping Method</h3>

                            <!-- Economical Shipping Option-->
                            <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
                                <input class="form-check-input shipping-option" type="radio" name="DeliveryOption" id="checkoutShippingMethodOne" checked value="Economical" data-cost="0">
                                <label class="form-check-label" for="checkoutShippingMethodOne">
                                    <span class="d-flex justify-content-between align-items-start">
                                        <span>
                                            <span class="mb-0 fw-bolder d-block">Economical</span>
                                            <small class="fw-bolder">Guaranteed delivery in 3-5 days</small>
                                        </span>
                                        <span class="small fw-bolder text-uppercase">Free</span>
                                    </span>
                                </label>
                            </div>

                            <!-- Fast Shipping Option-->
                            <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
                                <input class="form-check-input shipping-option" type="radio" name="DeliveryOption" id="checkoutShippingMethodTwo" value="Fast" data-cost="10">
                                <label class="form-check-label" for="checkoutShippingMethodTwo">
                                    <span class="d-flex justify-content-between align-items-start">
                                        <span>
                                            <span class="mb-0 fw-bolder d-block">Fast</span>
                                            <small class="fw-bolder">Guaranteed delivery in 1-2 days</small>
                                        </span>
                                        <span class="small fw-bolder text-uppercase">$ 10</span>
                                    </span>
                                </label>
                            </div>

                            <!-- Express Shipping Option-->
                            <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
                                <input class="form-check-input shipping-option" type="radio" name="DeliveryOption" id="checkoutShippingMethodThree" value="Express" data-cost="20">
                                <label class="form-check-label" for="checkoutShippingMethodThree">
                                    <span class="d-flex justify-content-between align-items-start">
                                        <span>
                                            <span class="mb-0 fw-bolder d-block">Express</span>
                                            <small class="fw-bolder">Guaranteed delivery today</small>
                                        </span>
                                        <span class="small fw-bolder text-uppercase">$ 20</span>
                                    </span>
                                </label>
                            </div>
                            <!-- Checkout Panel Information-->
                            <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Payment Information</h3>

                            <div class="row">

                                <!-- Payment Option-->
                                <div class="col-12">
                                    <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                        <input class="form-check-input" type="radio" name="payment" id="checkoutPaymentCOD" checked>
                                        <label class="form-check-label" for="checkoutPaymentCOD">
                                            <span class="d-flex justify-content-between align-items-start">
                                                <span>
                                                    <span class="mb-0 fw-bolder d-block">COD</span>
                                                </span>
                                                <i class="ri-paypal-line"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Payment Option-->
                                <div class="col-12">
                                    <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                        <input class="form-check-input" type="radio" name="payment" id="checkoutPaymentPaypal">
                                        <label class="form-check-label" for="checkoutPaymentPaypal">
                                            <span class="d-flex justify-content-between align-items-start">
                                                <span>
                                                    <span class="mb-0 fw-bolder d-block">PayPal</span>
                                                </span>
                                                <i class="ri-paypal-line"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Payment Option-->
                                <div class="col-12">
                                    <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                        <input class="form-check-input" type="radio" name="payment" id="checkoutPaymentVNPAY">
                                        <label class="form-check-label" for="checkoutPaymentVNPAY">
                                            <span class="d-flex justify-content-between align-items-start">
                                                <span>
                                                    <span class="mb-0 fw-bolder d-block">VNPAY</span>
                                                </span>
                                                <i class="ri-paypal-line"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="pt-5 mt-5 pb-5 border-top d-flex justify-content-md-end align-items-center">
                                <button type="submit" class="btn btn-dark w-100 w-md-auto">Complete Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                        <div class="pb-3">
                            <!-- Cart Item-->
                            @foreach (var item in Model)
                            {
                                <div class="row mx-0 py-4 g-0 border-bottom">
                                    <div class="col-2 position-relative">
                                        <span class="checkout-item-qty">@item.Quantity</span>
                                        <picture class="d-block border">
                                            <img class="img-fluid" src="~/src/assets/Hinh/HangHoa/@item.Image" alt="@item.ProductName">
                                        </picture>
                                    </div>
                                    <div class="col-9 offset-1 d-flex justify-content-between">
                                        <div>
                                            <a class="d-flex align-items-start mb-2" asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                @item.ProductName
                                            </a>
                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Price: $@item.Price</span>
                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Quantity: @item.Quantity</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-end" style="height: 100%;">
                                            <p class="fw-bold text-end text-muted m-0">$ @item.Subtotal</p>

                                        </div>
                                    </div>

                                </div>
                            }
                            <!-- / Cart Item-->
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <p class="m-0 fw-bolder fs-6">Subtotal</p>
                                <p class="m-0 fs-6 fw-bolder">$ <span id="subtotal">@Model.Sum(p => p.Subtotal).ToString("#,##0.00")</span></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center ">
                                <p class="m-0 fw-bolder fs-6">Shipping</p>
                                <p class="m-0 fs-6 fw-bolder">$ <span id="shipping-cost">0.00</span></p>
                            </div>
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="m-0 fw-bold fs-5">Grand Total</p>
                                </div>
                                <p class="m-0 fs-5 fw-bold">$ <span id="grand-total">@Model.Sum(p => p.Subtotal).ToString("#,##0.00")</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /Page Content -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const shippingOptions = document.querySelectorAll('.shipping-option');
            const shippingCostElement = document.getElementById('shipping-cost');
            const grandTotalElement = document.getElementById('grand-total');
            const subtotalElement = document.getElementById('subtotal');
            const shippingCostInput = document.getElementById('shippingCostInput');

            function updateTotals() {
                const selectedOption = document.querySelector('.shipping-option:checked');
                const shippingCost = parseFloat(selectedOption.dataset.cost);
                const subtotal = parseFloat(subtotalElement.textContent);
                const grandTotal = subtotal + shippingCost;

                shippingCostElement.textContent = shippingCost.toFixed(2);
                grandTotalElement.textContent = grandTotal.toFixed(2);
                shippingCostInput.value = shippingCost.toFixed(2);
            }

            shippingOptions.forEach(option => {
                option.addEventListener('change', updateTotals);
            });

            // Initialize totals
            updateTotals();
        });
    </script>
</section>


